body {
    font-family: Arial, sans-serif;
    background-color: rgb(228, 255, 255);
    margin: 0;
    padding: 0;
}

.container-all {
    background-color: #fff;
}


.header-container {
    background-color: #fff;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

#header-image {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    clip-path: ellipse(75% 99% at 50% 0%);
    }

#profile-image {    
    width: 300px;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 35%;
    bottom: 0%;
    z-index: 2;
    display: block;
    margin: -75px auto -77px;
}

h1 {
    text-align: center;
    color: #333;
    margin: 100px 80px 0px 80px;
    margin-top: 100px;
    font-size: 5.1em;
    background-color: #fff;

}

.name {
    margin-top: 0px;
    margin-bottom: 43px;
}
h2 {
    text-align: center;
    color: #686d72;
    margin: 0 80px;
    font-size: 3.4em;
    background-color: #fff;
    font-style: normal;
    font-weight: 100;
    margin-bottom: 0.3em;
}

.about-me {
    color: #333;
    margin: 170px 80px;
    font-size: 2.8em;
    background-color: #fff;
    font-style: normal;
    font-weight: 100;
    line-height: 1.7;
}

.therapy-image {
    margin: 50px auto;
    text-align: center;
}

    .button-group {
        display: flex;
        justify-content: center;
        flex-flow: column;
        align-items: center;
    }
    .button-group button {
        padding: 0px 40px;
        font-size: 2.9em;
        border: none;
        border-radius: 44px;
        background-color: #5ec6ca;
        color: #fff;
        cursor: pointer;
        transition: background 0.2s;
        width: 40%;
        height: 150px;
        margin-bottom: 53px;
        text-decoration: none;
    }

    a:-webkit-any-link {
    color: white;
    cursor: pointer;
    text-decoration: none;
    }

    .button-group > button:last-child {
        margin-bottom: 0;
    }

    .button-group button:hover {
        background-color: #3ba3a7;
    }

@media screen and (min-width: 1000px){
    body {
        margin: 0 150px;
    }
    #profile-image {
        width: 166px;
        border-radius: 50%;
        border: 5px solid #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        position: absolute;
        left: 41%;
        z-index: 2;
        display: block;
        margin: -75px auto -30px;
    }
    .name {
        margin-bottom: 15px;
    }

    h1 {
        margin-top: 1.3em;
        font-size: 2.0em;
        margin-bottom: 0.3em;
    }
    h2 {
        font-size: 1.45em;
        font-weight: 100;
        margin-bottom: 0.5em;
    }
    .about-me {
        font-size: 1em;
        margin-top: 64px;
        display: flex;
        margin-bottom: 100px;
    }
    .therapy-image {
        width: 53%;
        max-width: 788px;
        margin: -31px auto;
    }
    .button-group {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
    }
    .button-group button {
        padding: 18px 40px;
        font-size: 1.2em;
        border: none;
        border-radius: 27px;
        background-color: #5ec6ca;
        color: #fff;
        cursor: pointer;
        transition: background 0.2s;
        width: 180px;
        height: 60px;
    }
    .button-group > button:last-child {
    margin-bottom: auto;
    }

    .button-group button:hover {
        background-color: #3ba3a7;
    }
}
