body {
    font-family: Arial, sans-serif;
    background-color: rgb(228, 255, 255);
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}

.container-all {
    background-color: #fff;
}


.header-container {
    background-color: #fff;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

#header-image {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    clip-path: ellipse(75% 99% at 50% 0%);
    }

#profile-image {    
    width: 300px;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 35%;
    bottom: 0%;
    z-index: 2;
    display: block;
    margin: -75px auto -45px;
}

h1 {
    text-align: center;
    color: #333;
    margin: 100px 80px 0px 80px;
    margin-top: 100px;
    font-size: 5.1em;
    background-color: #fff;

}

.name {
    margin-top: 0px;
    margin-bottom: 50px;
}
h2 {
    text-align: center;
    color: #686d72;
    margin: 0 80px;
    font-size: 3.6em;
    background-color: #fff;
    font-style: normal;
    font-weight: 100;
    margin-bottom: 0.3em;
}

.about-me {
    color: #333;
    margin: 170px 80px;
    font-size: 3.4em;
    background-color: #fff;
    font-style: normal;
    font-weight: 100;
    line-height: 1.2;
}

.therapy-image {
    display: block;
    margin: 50px auto;
}

@media screen and (min-width: 1000px){
    body {
        margin: 0 150px;
    }
    #profile-image {
        width: 200px;
        border-radius: 50%;
        border: 5px solid #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        position: absolute;
        left: 41%;
        z-index: 2;
        display: block;
        margin: -75px auto -30px;
    }
    .name {
        margin-bottom: 40px;
    }

    h1 {
        margin-top: 1.3em;
        font-size: 2.2em;
        margin-bottom: 0.3em;
    }
    h2 {
        font-size: 1.3em;
        font-weight: 100;
        margin-bottom: 0.5em;
    }
    .about-me {
        font-size: 1.2em;
        margin-bottom: 50px;
    }
}